# Ignored file extensions
*~
*.pyc
*.egg-info/
*.whl

# Directories
docs/_build/
build/
dist/
.tox/

# Stuff we might generate while runnig tests
/tests/features/fixtures/*

# Other stuff we don't care about
.coverage
.DS_Store
.build.log
*.sw[op]
